node_modules/
uploads/contratos/
.env
produtores.dump
.DS_Store
.vercel/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
dist/
build/
coverage/
.env.local
.env.development
.env.production
/.history
.gitattributesnode_modules/
uploads/contratos/
.env
produtores.dump
